.contact {
  min-height: 70vh;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 28px;
    color: var(--accent-font);
    margin-bottom: 100px;
  }

  span {
    b {
        font-weight: 600;
        margin-right: 4px;
    }
  }
}
