.productCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 30px 10px 10px 10px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0 0 0 / 20%);
  
    .icons {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
      z-index: 3;
      color: gray;
      cursor: pointer;
  
      &:hover {
        color: red;
        transform: scale(1.1);
      }
    }
  
    .images {
      position: relative;
      height: 160px;
      overflow: hidden;
      width: 100%;
  
      &:hover {
        .img2 {
          z-index: 2;
          object-fit: cover;
        }
      }
  
      img {
        height: 150px;
        width: 100%;
        object-fit: contain;
        position: absolute;
      }
  
      .img {
        z-index: 1;
      }
    }
  
    .detail {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      .title {
        font-weight: 600;
        font-size: 18px;
      }
  
      .price {
        display: flex;
        gap: 10px;
        font-size: 14px;
  
        p {
          font-weight: 600;
          font-size: 16px;
  
          &:first-child {
            text-decoration: line-through;
            color: gray;
          }
        }
      }

      button {
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 10px;
        font-size: 14px;
        background-color: teal;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: rgb(1, 77, 77);
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
      }
    }
}