.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
  height: 200px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  // box-shadow: 0 0 2px 1px rgba(0 0 0 / 20%);

  .new {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    z-index: 3;

    &:empty {
      display: none;
    }
  }

  .images {
    position: relative;
    width: 28vw;
    overflow: hidden;
    height: 100%;

    &:hover {
      .img2 {
        z-index: 2;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }

    .img {
      z-index: 1;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-weight: 600;
    }

    .price {
      display: flex;
      gap: 10px;
      font-size: 14px;

      p {
        font-weight: 600;
        font-size: 16px;

        &:first-child {
          text-decoration: line-through;
          color: gray;
        }
      }
    }
  }
}
