@import "../../app.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 80px;
  gap: 80px;

  @include tablet {
    padding: 40px 30px;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(253, 253, 253);

    @include tablet {
      gap: 40px;
    }

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        letter-spacing: 1px;
      }

      span {
        cursor: pointer;
        width: fit-content;
        letter-spacing: 1px;
      }

      p {
      }

      input {
        width: fit-content;
      }

      button {
        width: max-content;
      }

      .link {
        display: flex;
        align-items: center;
        margin-block: 5px;
        gap: 5px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;        

    @include tablet{
      gap: 40px;  
      justify-content: center;        
    }

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      .logo {
      }

      div{
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile{
          flex-direction: column;      
        }
      }
    }

    img {
      width: 200px;
    }
  }
}

.contact-footer {
  border-left: 1px solid #777;
  padding-left: 30px;

  @include tablet {
    border-left: none;
    padding-left: 0px;
  }
}