@import "../../app.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 80px;
  gap: 80px;
  background-color: var(--accent-font);

  @include tablet {
    padding: 40px 30px;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      gap: 40px;
    }

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 18px;
        font-weight: 700;
        color: rgb(206, 206, 206);
        margin-bottom: 5px;
      }

      span {
        cursor: pointer;
        width: fit-content;
        color: rgb(236, 236, 236);
      }

      p {
        color: rgb(236, 236, 236);
      }

      .link {
        display: flex;
        align-items: center;
        margin-block: 5px;
        gap: 5px;
        color: rgb(236, 236, 236);
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(236, 236, 236);;
    flex-wrap: wrap;
    padding-top: 20px;        

    @include tablet{
      gap: 40px;  
      justify-content: center;        
    }

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      color: rgb(201, 201, 201);

      .logo {
        color: rgb(236, 236, 236);
      }

      div{
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile{
          flex-direction: column;      
        }
      }
    }

    img {
      width: 200px;
    }
  }
}
