@import "../../app.scss";

.categoryItem {
  flex: 1;
  height: 75vh;
  position: relative;
  overflow: hidden;

  @include tablet {
    height: 50vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    h1 {
      font-size: 28px;
      font-weight: 700;
      color: white;

      @include tablet {
        font-size: 28px;
        white-space: nowrap;
      }
    }

    button {
      background-color: rgb(0, 120, 120);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
