@import '../../app.scss';

.productList {
  min-height: 90vh;
  padding: 20px 80px;

  @include tablet{
    padding: 10px 10px;         
 }

  .heading {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .filterContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .filter {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;

        .filterText {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        select{
            padding: 5px 10px;
        }
    }
  }
}
