@import "../../app.scss";

.navbar {
  height: 60px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255 255 255 / 60%);
  transition: all 0.5s ease;

  &.scrolled {
    box-shadow: 0 1px 20px 5px rgba(0 0 0 / 10%);
  }

  &.sticky {
    position: sticky;
    top: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      @include tablet {
        display: none;
      }

      .icons {
        color: #414141;

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .item {
        list-style: none;
        font-size: 14px;
      }
    }

    .center {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 60px;

      @include tablet {
        padding-left: 0px;
      }

      .logo-img {
        height: 16px;
        display: none;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .icons {
        display: flex;
        gap: 10px;
        color: #414141;

        .icon {
          font-size: 20px;
          cursor: pointer;
        }

        .cart-icon {
          position: relative;

          span {
            position: absolute;
            top: -3px;
            right: -3px;
            background-color: #2879fe;
            color: white;
            font-size: 10px;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .item {
        list-style: none;
        font-size: 14px;

        @include tablet {
          display: none;
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  display: none;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  margin-right: 10px;

  @include tablet {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    transform: translateX(-8px);
  }

  .bar {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    transform: translateX(-8px);
    -webkit-border-radius: 3px;
  }
}
