@import "../../app.scss";

.navbar {
  height: 70px;
  padding-inline: 80px;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255 255 255 / 70%);
  transition: all 0.5s ease;

  @include tablet {
    padding: 10px;
    height: 60px;
  }

  &.scrolled {
    box-shadow: 0 1px 20px 5px rgba(0 0 0 / 10%);
    position: sticky;
    top: -1px;
    height: 60px;
  }

  &.sticky {
    position: sticky;
    top: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      @include tablet {
        display: none;
      }

      .icons {
        color: #414141;
        position: relative;

        .options {
          display: none;
          position: absolute;
          top: 20px;
          left: 0px;
          color: #414141;
          background-color: white;
          padding: 5px;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          .link {
            background-color: #000;
            color: white;
            padding: 3px 4px;
            border-radius: 4px;
            font-size: 16px;
          }
        }

        &:hover {
          .options {
            display: block;
          }
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .item {
        list-style: none;
        font-size: 14px;

        .link {
          letter-spacing: 2px;
        }
      }
    }

    .center {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 40px;

      @include tablet {
        padding-left: 0px;
      }

      .logo-img {
        height: 25px;
        mix-blend-mode: multiply;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .icons {
        display: flex;
        gap: 10px;
        color: #414141;

        .icon {
          font-size: 20px;
          cursor: pointer;

          @include tablet {
            font-size: 24px;
          }
        }

        .cart-icon {
          position: relative;

          span {
            position: absolute;
            top: -2px;
            right: -2px;
            background-color: var(--accent-color);
            color: white;
            font-size: 10px;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .item {
        list-style: none;
        font-size: 14px;

        .link {
          letter-spacing: 2px;
        }

        @include tablet {
          display: none;
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  display: none;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  transition: all 12ms ease;
  margin-right: 10px;

  &.isActive {
    &::before {
      transform: rotate(-45deg) translate(-6px, 7px);
    }
    .bar {
      opacity: 0;
    }

    &::after {
      transform: rotate(45deg) translate(-4px, -5px);
    }
  }

  @include tablet {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    transform: translateX(-8px);
  }

  .bar {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 3px;
    transform: translateX(-8px);
    -webkit-border-radius: 3px;
  }
}

.mobile-nav {
  position: absolute;
  top: 60px;
  min-height: calc(100vh - 60px);
  left: -100%;
  padding: 20px 10px 10px 10px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.isOpen {
    left: 0px;
  }

  .mob-nav-link {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #414141;

    &:last-child {
      border: none;
    }
  }

  .expandable {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      transition: all 0.25s ease;

      &.down {
        transform: rotate(90deg);
      }
    }
  }

  .expandable-menu {
    height: 0px;
    overflow: hidden;
    transform: translateY(-25px);
    transition: all 0.2s ease;
    z-index: -1;
    display: none;
    flex-direction: column;
    gap: 10px;

    .link {
      border-bottom: 1px solid black;
      padding-bottom: 14px;

      &:last-child {
        border-bottom: none;
      }
    }

    &.isExpanded {
      height: auto;
      transform: translateY(0px);
      z-index: 2;
      display: flex;
    }
  }

  .logout-btn {
    background-color: black;
    color: white;
    width: max-content;
    padding: 5px 20px;
    align-self: baseline;
  }
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  width: 100%;
  transition: 0.3s ease;
  z-index: -15;
  opacity: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);

  .input-container {
    height: 100%;
    width: 100%;
    // max-width: 700px;
    z-index: -12;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #222;
    background-color: transparent;
    font-size: 34px;
    width: 70vw;
    max-width: 700px;
    font-weight: 100;

    &::placeholder {
      color: var(--font-color);
      letter-spacing: 1px;
    }

    @include tablet {
      font-size: 28px;
    }
    @include mobile {
      font-size: 22px;
    }
  }

  .search-icon {
    position: absolute;
    right: 30px;
    color: #555;
    font-size: 32px;
    display: none;

    @include tablet {
      right: 40px;
      font-size: 26px;
    }

    @include mobile {
      right: 20px;
      font-size: 22px;
    }
  }

  .close-icon {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #555;
    font-weight: 100;
    font-size: 24px;
    cursor: pointer;
  }

  &.search-opened {
    top: 60px;
    opacity: 1;
    z-index: 1;
    height: 20vh;
  }
}

.wishPopupArea {
  position: fixed;
  top: 0;
  right: -100%;
  min-height: 100vh;
  transition: 0.3s;
  z-index: 1000;
  box-shadow: -10px 0px 30px rgba(0 0 0 / 20%);
  overflow-y: auto;

  &.opened {
    right: 0;
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
    display: none;
    cursor: pointer;

    &.opened {
      display: block;
    }
  }
}
