.products {
  padding: 40px 0;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-auto-rows: auto;

  grid-gap: 20px;

  h1 {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
