.cartPopup {
  padding: 10px;
  background-color: white;
  min-height: 100vh;
  min-width: 50vh;
  max-width: 50vh;
  position: relative;
  overflow-y: auto;

  .products {
    height: 90vh;
    overflow-y: auto;

    img {
        height: 50px;
    }
  }

  h1 {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .button {
    background-color: var(--accent-color);
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
